.Filterbar{
    background-color: rgb(34, 30, 30);
    padding: 10px 0px;
    padding-right: 40px;
    font-weight: 400;
}
.Filterbar ul{
    display: flex;
    justify-content: space-between;
}

.Filterbar li{
    font-size: 13.8px;
    list-style: none;
    border: 1px solid rgb(15, 15, 15);
    padding: 1px 12px;
    background-color:rgb(54, 48, 48) ;
    border-radius: 10px;
    cursor: pointer;
}

.Filterbar ul .main{
    color:rgb(24, 22, 22);
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    
}

.Filterbar li:hover{
    background-color: rgb(96, 93, 93);
    font-weight: 500;
    cursor: pointer;
}