.header{
    width:100%;
    top:0;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    display: flex;
    background-color:rgb(15, 15, 15);
    position: sticky;
    z-index: 100;
    
}

.header-right{
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    right:3%;
    margin-right: 20px;
    

}
.header_logo{
    width: 60px;
    height: 45px;
    margin-left: 15px;
    
    
}

.heade_burger{
    margin-bottom: 10px;
}
.header_burger:hover{
    font-size: 30px !important;
    color: white;
    transition: all 0.32s;

}

.header_left{
    display: flex;
    width: 130px;
    justify-content: space-between;
    margin-left: 9px;
    margin-right: 10px;
}

.header_icon{
    color: rgb(196, 175, 175);  
    
}
.header_icon:hover{
    font-size: 30px !important;
    color: white;
    transition: all 0.32s;
}

.avater_icon{
    font-size: 25px;
    margin-left: 10px;
}


.header_middle{
    display: flex;
    align-items: center;
    width: auto;
    border: 1px solid white;
    border-radius: 4px;
    gap: 8px;
}

